.position-detail__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.position-detail__info {
  display: flex;
  gap: 8px;
}

.position-detail__modal-contact-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-detail__modal-contact-email-text {
  padding: 12px;
  display: inline-block;
  background-color: #fff;
}

.position-detail__contact-button {
  text-align: center;
  cursor: pointer;
  width: 160px;
  padding: 8px 16px;
  border-radius: 4px;
  margin: auto;
  background-color: var(--primary-main);
  color: #fff;
}

.recruiter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit-button,
.delete-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.edit-button {
  background-color: #68bcd9;
  color: white;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #68bcd9;
  color: white;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.delete-button:hover {
  cursor: pointer;
}
