.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.logo {
  height: 40px;
  padding-left: 10px;
}
.logo-container {
  margin-right: auto;
  height: 40px;
  margin-left: 1%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  text-decoration-color: antiquewhite;
  background-color: #204a80;
  color: #204a80;
  font-weight: bold;
}

.router-link {
  color: white;
}

.router-link:visited {
  color: white;
}
