.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
    padding: 20px;
  }
  
  .profile-container {
    margin-bottom: 20px;
    }
    
    .profile-image {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    }
    
    .profile-image img {
    border-radius: 50%;
    padding: 10%;
    margin: 15%; 
    border-radius: 10%; 
    background-color: #204A80; 
    }
    
    .edit-profile-button {
    position: absolute;
    bottom: 0;
    right: 37%;
    background-color: #68BCD9;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    }  
  
  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
  }
  
  .info-box {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1F3A64;
    color: #FFFFFF;
    position: relative;
  }
  
  .info-box .info-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .info-box .info-value {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .info-box .edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #68BCD9;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .info-box .edit-field {
    display: none; 
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
  }
  
  .info-box .save-button {
    display: none;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #68BCD9;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  

  .info-box .link-out {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #68BCD9;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  .info-box.editable .info-value {
    display: none;
  }
  
  .info-box.editable .edit-field {
    display: block; 
  }
  
  .info-box.editable .edit-button {
    display: none; 
  }
  
  .info-box.editable .save-button {
    display: block; /* show the save button when editable */
  }

  .button-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .button {
    width: 47%;
    margin-bottom: 10px;
    background-color: #204A80;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .button {
      width: 100%;
    }
  }

