.login-container {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  text-decoration-color: antiquewhite;
  background-color: #204a80;
  color: #204a80;
  font-weight: bold;
}

.router-link {
  color: white;
}

.router-link:visited {
  color: white;
}
