.button__wrapper {
  padding: 6px 16px;
  background-color: var(--primary-main);
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__wrapper:hover {
  background-color: var(--primary-dark);
}
